<section class="dual-sense" id="dual-sense">
    <div class="dual-sense-inner-container">
        <h2 class="dual-sense-title">DualSense</h2>
        <p class="dual-sense-first-paragr">
            You can also buy an exclusive controller with the
            <br> <span class="purple-text">God of War Ragnarok</span> theme for PS5.
        </p>
        <p class="dual-sense-second-paragr">
            If you purchase a controller and a game (any
            <br> edition), you will receive a <span class="red-text">15%</span> discount on two
            <br> items.
        </p>
        <div class="dual-sense-price-btn-container">
            <h3 class="dual-sense-price">$35.99</h3>  
            <button class="dual-sense-btn" type="button">Buy DualSense with a game</button>
        </div>

            <img class="dual-sense-img" src="../images/dual-sense/controller.png" alt="DualSense controller">
        
    </div>
</section>
