<section class="editions" id="editions">
    <div class="editions-inner-container">
        <h2 class="editions-title">Editions</h2>
        <ul class="editions-list">
            <li class="editions-list__item">
                <img class="editions-list__img" src="../images/editions/standart-edition.jpg" alt="Standard Edition">
                <h3 class="editions-list__title">Standard Edition</h3>
                <h4 class="editions-list__device">PS5</h4>
                <ul class="editions-list-characteristics">
                    <li class="editions-list-characteristics__item">Offline play enabled</li>
                    <li class="editions-list-characteristics__item">Remote Play supported</li>
                    <li class="editions-list-characteristics__item">Trigger effect required</li>
                </ul>
                <h4 class="editions-list__price">$19.99</h4>
                <button class="editions-list__btn" type="button">Buy NOW</button>
            </li>
            <li class="editions-list__item">
                <img class="editions-list__img" src="../images/editions/standart-edition.jpg" alt="Standard Edition">
                <h3 class="editions-list__title">Standard Edition</h3>
                <h4 class="editions-list__device">PS5</h4>
                <ul class="editions-list-characteristics">
                    <li class="editions-list-characteristics__item">Offline play enabled</li>
                    <li class="editions-list-characteristics__item">Remote Play supported</li>
                    <li class="editions-list-characteristics__item">Trigger effect required</li>
                </ul>
                <h4 class="editions-list__price">$18.99</h4>
                <button class="editions-list__btn" type="button">Buy NOW</button>
            </li>
            <li class="editions-list__item">
                <img class="editions-list__img" src="../images/editions/digital-deluxe-edition.jpg" alt="Digital Deluxe Edition">
                <h3 class="editions-list__title">Digital Deluxe Edition</h3>
                <h4 class="editions-list__device">PS4</h4>
                <ul class="editions-list-characteristics">
                    <li class="editions-list-characteristics__item">All features of Standard Edition</li>
                    <li class="editions-list-characteristics__item">Darkdale Armour</li>
                    <li class="editions-list-characteristics__item">Official digital soundtrack</li>
                </ul>
                <h4 class="editions-list__price">$29.99</h4>
                <button class="editions-list__btn" type="button">Buy NOW</button>
            </li>
        </ul>
    </div>
</section>
