<section class="explore" id="explore">
  <h2 class="explore-headline">Explore the God of War series</h2>
  <h3 class="explore-text">Here are the God of War (PC) System Requirements</h3>
  <ul class="explore-switch-bar">
    <li class="explore-switch-bar__item minimum switch-active">Minimum</li>
    <li class="explore-switch-bar__item">
      <input type="checkbox" id="switch">
    <label for="switch" class="switch-container">
        <div class="switch-circle"></div>
    </label>
    </li>
    <li class="explore-switch-bar__item recommended">Recommended</li>
  </ul>
  <div class="explore-inner-container">
    <div class="explore-left">
      <img src="../images/explore/atreus.svg" class="explore-left__img">
    </div>
    <div class="explore-right">
      <ul class="explore-list">
        <li class="explore-list__item">
          <span class="explore-list__purple-color">CPU:</span>
          <span class="explore-list__set"> Intel i5-2500k (4 core 3.3 GHz) or AMD Ryzen 3 1200 (4 core 3.1 GHz)</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">RAM:</span>
          <span class="explore-list__set"> 8 GB</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">OS:</span>
          <span class="explore-list__set"> Windows 10 64-bit</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">VIDEOCARD:</span>
          <span class="explore-list__set"> NVIDIA GTX 960 (4 GB) or AMD R9 290X (4 GB)</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">PIXEL SHADER:</span>
          <span class="explore-list__set"> 5.1</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">VERTEX SHADER:</span>
          <span class="explore-list__set"> 5.1</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">FREE DISK SPACE:</span>
          <span class="explore-list__set"> 70 GB</span>
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">DEDICATED VIDEO RAM:</span>
          <span class="explore-list__set"> 4 GB</span>
        </li>
        <li class="explore-list__item"> 
          <button type="button" class="explore-list-button">buy NOW</button>
        </li>
      </ul>
    </div>
  </div>
  <h3 class="explore-headline-second">God of War for PS4</h3>
  <ul class="explore-switch-bar">
    <li class="explore-switch-bar__item standart switch-active">Standart</li>
    <li class="explore-switch-bar__item">
      <input type="checkbox" id="switch-ragnar">
    <label for="switch-ragnar" class="switch-container-ragnar">
        <div class="switch-circle-ragnar"></div>
    </label>
    </li>
    <li class="explore-switch-bar__item limited">Limited</li>
  </ul>
  <h3 class="explore-price">15.99$</h3>
  <div class="explore-left-second">
    <ul class="explore-list-second">
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Platform:</span>
        <span class="explore-list__char">PS5</span>
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Premiere:</span>
        <span class="explore-list__char">20.4.2018</span>
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Publisher:</span>
        <span class="explore-list__char">Sony Interactive Entertainment Europe</span>
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Species:</span>
        <span class="explore-list__char">Action, Adventure</span>
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Voice:</span>
        <span class="explore-list__char">English, Polish, Russian</span>
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Display languages:</span>
        <span class="explore-list__char">English, Dutch, Polish, Russian, Turkish</span>
      </li>
      <li class="explore-list-second__item"> 
        <button type="button" class="explore-list-second-button">buy NOW</button>
      </li>
    </ul>
    <div class="explore-right-second">
      <img src="../images/explore/kratos-explore.svg" class="explore-left-second__img">
    </div>
</div>
</section>
