<section class="explore" id="explore">
  <h2 class="explore-headline">Explore the God of War series</h2>
  <h3 class="explore-text">Here are the God of War (PC) System Requirements</h3>
  <ul class="explore-switch-bar">
    <li class="explore-switch-bar__item">Minimum</li>
    <li class="explore-switch-bar__item">
      <input type="checkbox" id="switch">
    <label for="switch" class="switch-container">
        <div class="switch-circle"></div>
    </label>
    </li>
    <li class="explore-switch-bar__item">Recommended</li>
  </ul>
  <div class="explore-inner-container">
    <div class="explore-left">
      <img src="../images/explore/atreus.svg" class="explore-left__img">
    </div>
    <div class="explore-right">
      <ul class="explore-list">
        <li class="explore-list__item">
          <span class="explore-list__purple-color">CPU:</span>
          Intel i5-2500k (4 core 3.3 GHz) or AMD Ryzen 3 1200 (4 core 3.1 GHz)
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">RAM:</span>
          8 GB
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">OS:</span>
          Windows 10 64-bit
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">VIDEOCARD:</span>
          NVIDIA GTX 960 (4 GB) or AMD R9 290X (4 GB)
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">PIXEL SHADER:</span>
          5.1
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">VERTEX SHADER:</span>
          5.1
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">FREE DISK SPACE:</span>
          70 GB
        </li>
        <li class="explore-list__item">
          <span class="explore-list__purple-color">DEDICATED VIDEO RAM:</span>
          4 GB
        </li>
        <li class="explore-list__item"> 
          <button type="button" class="explore-list-button">buy NOW</button>
        </li>
      </ul>
    </div>
  </div>
  <h3 class="explore-headline-second">God of War for PS4</h3>
  <ul class="explore-switch-bar">
    <li class="explore-switch-bar__item">Standart</li>
    <li class="explore-switch-bar__item">
      <input type="checkbox" id="switch-ragnar">
    <label for="switch-ragnar" class="switch-container-ragnar">
        <div class="switch-circle-ragnar"></div>
    </label>
    </li>
    <li class="explore-switch-bar__item">Limited</li>
  </ul>
  <h3 class="explore-price">15.99$</h3>
  <div class="explore-left-second">
    <ul class="explore-list-second">
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Platform:</span>
        PS4
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Premiere:</span>
        20.4.2018
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Publisher:</span>
        Sony Interactive Entertainment Europe
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Species:</span>
        Action, Adventure
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Voice:</span>
        English, Polish, Russian
      </li>
      <li class="explore-list-second__item">
        <span class="explore-list__purple-color">Display languages:</span>
        5.1
      </li>
      <li class="explore-list-second__item"> 
        <button type="button" class="explore-list-second-button">buy NOW</button>
      </li>
    </ul>
      <div class="explore-right-second">
        <img src="../images/explore/kratos-explore.svg" class="explore-left-second__img">
      </div>
  </div>
</section>
