<section class="faq" id="faq">
    <div class="faq-inner-container">
    <h2 class="faq-headline">FAQ</h2>
    <h3 class="faq-question">When is the next God of War coming out?</h3>
    <img src="../images/faq/purple-stick.jpg" class="faq-purple-stick">
    <p class="faq-paragr">God of War Ragnarök will release on <span class="faq-red-text">November 9, 2022</span>. To get the latest updates on release timing, make sure you follow Santa Monica<br>
         Studio on Twitter, Instagram and Facebook! </p>
    <h3 class="faq-question">Will God of War Ragnarök have an upgrade path?</h3>
    <img src="../images/faq/purple-stick.jpg" class="faq-purple-stick">
</div>
</section>