<section class="footer" id="footer">
    <div class="footer-list-language-container">
    <ul class="footer-list">
        <li class="footer-list__item">editions</li>
        <li class="footer-list__item">controller</li>
        <li class="footer-list__item">ABOUT GAME</li>
        <li class="footer-list__item">Explore</li>
        <li class="footer-list__item">news</li>
        <li class="footer-list__item">FAQ</li>
    </ul>
    <p class="footer-language">Language: <span class="footer-english">ENGLISH</span></p>
</div>
    <p class="footer-paragr">Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms plus any specific additional<br>
         conditions applying to this product. If you do not wish to accept these terms, do not download this product. See Terms of Service for more <br>
         important information.</p>
         <div class="footer-logo-container">
            <img class="footer-logo" src="../images/logo/ps-logo.svg">
          </div>
    <p class="footer-year">2022</p>
    <p class="footer-developer">Developed by <span class="developer-span">Tomkovich.</span> All rights reserved</p>   
</section>