<div class="img-container">
  <img class="img" src="/images/hero/kratos-hero.jpg" alt="Example Image">
</div>
<header class="main-header" id="header">
  <div class="inner-container">
    <section class="header">
      <nav class="header-navigation">
        <div class="header-burger">
          <div class="header-burger-line line-start"></div>
          <div class="header-burger-line line-middle"></div>
          <div class="header-burger-line line-end"></div>
        </div>
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a href="#editions" class="navigation-list__link">Editions</a>
          </li>
          <li class="navigation-list__item">
            <a href="#dual-sense" class="navigation-list__link">Controller</a>
          </li>
          <li class="navigation-list__item">
            <a href="#trailer" class="navigation-list__link">About Game</a>
          </li>
          <li class="navigation-list__item">
            <a href="#explore" class="navigation-list__link">Explore</a>
          </li>
          <li class="navigation-list__item">
            <a href="#news" class="navigation-list__link">News</a>
          </li>
          <li class="navigation-list__item">
              <a href="#faq" class="navigation-list__link">Faq</a>
            </li>
            <li class="header-language">English</li>
        </ul>
      </nav>
      

      <div class="header-countdown">
          <p class="header-countdown__realease">Realease:</p>
          <div class="header-countdown-time">
              <ul class="countdown-list">
                  <li class="countdown-list__item"></li>
                  <li class="countdown-list__item"></li>
                  <li class="countdown-list__item"></li>
              </ul>

              <ul class="countdown-list-article">
                <li class="countdown-list__item-info">D</li>
                <li class="countdown-list__item-info">H</li>
                <li class="countdown-list__item-info">M</li>
              </ul>
          </div>
          
        </div>
  
      </section>
      <section class="hero">
        <h1 class="hero__title">
          God of War  <br />
          Ragnarök
        </h1>
        <p class="hero__paragr">Taking place three years following the events of the previous<br>
           game, Fimbulwinter, a great winter that spans three summers,<br>
            is drawing to a close which will begin the prophesied Ragnarök.</p>
        <button class="hero__btn" type="button">
          buy NOW
        </button>
      </section>
  </div>
  <main>
    
</header>
