<section class="news" id="news">
    <div class="news-inner-container">
        <h2 class="news-title">News</h2>
        <ul class="news-list">
            
            <li class="news-list__item">
                <div class="news-left">
                    <p class="news-list__text">God of War Ragnarok </p>
                    <h3 class="news-list__headline">will receive a large update on release</h3>
                    <img src="../images/news/kratos-atreus.jpg" alt="News Image">
                </div>
                <div class="news-right">
                    <p class="news-list__date">19/10/2022</p>
                    <p class="news-list__paragr">God of War: Ragnarok is fast approaching. 
                        No wonder that we have been regularly receiving new information and materials related to the title in recent times. 
                        Last week, a trailer presenting the possibilities of the game on PlayStation 5 
                        hit the network , and a little earlier we learned that the work on the production was completed . Meanwhile, it turns out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on release.</p>
                    <button class="news-list__button" type="button">read</button>
                </div>
            </li>
            
            <li class="news-list__item">
                <div class="news-left">
                    <p class="news-list__text">God of War Ragnarok</p>
                    <h3 class="news-list__headline">is officially one of the largest PS4 games by size</h3>
                    <img src="../images/news/thor.jpg" alt="News Image">
                </div>
                <div class="news-right">
                    <p class="news-list__date">19/10/2022</p>
                    <p class="news-list__paragr">Digital distribution enthusiasts need to get ready for tons of downloads. The second adventure of Kratos and Atreus in the High North from the premiere will occupy nearly 120GB - when deciding to buy a title from PlayStation Store, it is worth planning your download wisely to start the game on the day of the premiere.</p>
                    <button class="news-list__button" type="button">read</button>
                </div>
            </li>
            
            <li class="news-list__item">
                <div class="news-left">
                    <p class="news-list__text"></p>
                    <h3 class="news-list__headline">is the final chapter in an epic story. See the new video</h3>
                    <img src="../images/news/kratos-atreus-wp.jpg" alt="News Image">
                </div>
                <div class="news-right">
                    <p class="news-list__date">19/10/2022</p>
                    <p class="news-list__paragr"></p>
                    <button class="news-list__button" type="button">read</button>
                </div>
            </li>
            
            <li class="news-list__item">
                <div class="news-left">
                    <p class="news-list__text"></p>
                    <h3 class="news-list__headline"></h3>
                    <img src="" alt="News Image">
                </div>
                <div class="news-right">
                    <p class="news-list__date">19/10/2022</p>
                    <p class="news-list__paragr">Familiar characters will return to the game, but also completely new ones. We are talking here about Thor, presented as a brutal and mentally unstable performer of "dirty work" in the services of Odin , as well as the ruler of the gods himself, who left his mark on the events of the previous installment, although he did not appear in it personally.</p>
                    <button class="news-list__button" type="button">read</button>
                </div>
            </li>
        </ul>
    </div>
</section>