<section class="news" id="news">
    <div class="news-inner-container">
        <h2 class="news-title">News</h2>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="news-left">
                    <div class="news-left-title">
                        <p class="news-list__text">God of War Ragnarok </p>
                        <h3 class="news-list__headline">will receive a large update on release</h3>
                    </div>
                    <p class="news-list__date">19/10/2022</p>
                </div>
                <div class="news-right">
                    <img src="../images/news/kratos-atreus.jpg" alt="News Image">
                    <div class="news-right-info">
                        <p class="news-list__paragr">God of War: Ragnarok is fast approaching. 
                        No wonder that we have been regularly receiving new information and materials related to the title in recent times. 
                        Last week, a trailer presenting the possibilities of the game on PlayStation 5 
                        hit the network , and a little earlier we learned that the work on the production was completed . Meanwhile, it turns out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on release.
                        </p>
                        <button class="news-list__button" type="button">read</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news-left">
                    <div class="news-left-title">
                        <p class="news-list__text">God of War Ragnarok </p>
                        <h3 class="news-list__headline">will receive a large update on release</h3>
                    </div>
                    <p class="news-list__date">19/10/2022</p>
                </div>
                <div class="news-right">
                    <img src="../images/news/thor.jpg" alt="News Image">
                    <div class="news-right-info">
                        <p class="news-list__paragr">God of War: Ragnarok is fast approaching. 
                        No wonder that we have been regularly receiving new information and materials related to the title in recent times. 
                        Last week, a trailer presenting the possibilities of the game on PlayStation 5 
                        hit the network , and a little earlier we learned that the work on the production was completed . Meanwhile, it turns out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on release.
                        </p>
                        <button class="news-list__button" type="button">read</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news-left">
                    <div class="news-left-title">
                        <p class="news-list__text">God of War Ragnarok </p>
                        <h3 class="news-list__headline">will receive a large update on release</h3>
                    </div>
                    <p class="news-list__date">19/10/2022</p>
                </div>
                <div class="news-right">
                    <img src="../images/news/thor.jpg" alt="News Image">
                    <div class="news-right-info">
                        <p class="news-list__paragr">God of War: Ragnarok is fast approaching. 
                        No wonder that we have been regularly receiving new information and materials related to the title in recent times. 
                        Last week, a trailer presenting the possibilities of the game on PlayStation 5

                        hit the network , and a little earlier we learned that the work on the production was completed . Meanwhile, it turns out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on release.
                        </p>
                        <button class="news-list__button" type="button">read</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news-left">
                    <div class="news-left-title">
                        <p class="news-list__text">God of War Ragnarok </p>
                        <h3 class="news-list__headline">will receive a large update on release</h3>
                    </div>
                    <p class="news-list__date">19/10/2022</p>
                </div>
                <div class="news-right">
                    <img src="../images/news/kratos-atreus.jpg" alt="News Image">
                    <div class="news-right-info">
                        <p class="news-list__paragr">God of War: Ragnarok is fast approaching. 
                        No wonder that we have been regularly receiving new information and materials related to the title in recent times. 
                        Last week, a trailer presenting the possibilities of the game on PlayStation 5 
                        hit the network , and a little earlier we learned that the work on the production was completed . Meanwhile, it turns out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on release.
                        </p>
                        <button class="news-list__button" type="button">read</button>
                    </div>
                </div>
              </div>
 
    
        
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/swiper.js"></script>
